<div class="helper-card">
  <div class="helper-header">
    <div class="helper-profile">
      <app-profile-photo 
        [userName]="helper.fullName" 
        [profilephotourl]="helper.profilePhotourl" 
        [width]="'64'" 
        [height]="'64'" 
        class="profile-photo">
      </app-profile-photo>

      <div>
        <h2>{{ helper.fullName }}</h2>
        <p>{{ helper.typeOfService }}</p>
      </div>
    </div>

    <div class="helper-actions">
      <button (click)="onEditHelper()" class="icon-btn">
        <i class="ph ph-pencil-simple"></i>
      </button>
      <button (click)="ondeletehelper(helper.employeeid)" class="icon-btn">
        <i class="ph ph-trash"></i>
      </button>
    </div>
  </div>

  <div class="helper-details">
    <div class="details-section">
      <div class="section-header">
        <h3>EMPLOYEE ID</h3>
        <div class="line"></div>
      </div>

      <div class="section-body">
        <div class="row">
          <span class="label">Identification Card:</span>
          <button (click)="openHelperCardDialog(helper)" class="link">
            <i class="ph ph-eye"></i> View
          </button>
        </div>

        <div class="row">
          <span class="label">Employee Code:</span>
          <span class="value">{{ helper.employeeid }}</span>
        </div>
      </div>
    </div>

    <div class="details-section">
      <div class="section-header">
        <h3>PERSONAL DETAILS</h3>
        <div class="line"></div>
      </div>

      <div class="section-body">
        <div class="row"><span class="label">Gender:</span><span class="value">{{ helper.gender }}</span></div>
        <div class="row"><span class="label">Language(s):</span><span class="value">{{ helper.languages?.join(', ') }}</span></div>
        <div class="row"><span class="label">Mobile No.:</span><span class="value">{{ helper.phno }}</span></div>
        <div class="row"><span class="label">Email ID:</span><span class="value">{{ helper.email || '-'}}</span></div>
        <div class="row">
          <span class="label">KYC Document:</span>
          <a [href]="helper.kycDocUrl" target="_blank" class="link">
            <i class="ph ph-eye"></i> View
          </a>
        </div>
      </div>
    </div>

    <div class="details-section">
      <div class="section-header">
        <h3>SERVICE DETAILS</h3>
        <div class="line"></div>
      </div>

      <div class="section-body">
        <div class="row"><span class="label">Type of Service:</span><span class="value">{{ helper.typeOfService }}</span></div>
        <div class="row"><span class="label">Organization Name:</span><span class="value">{{ helper.organizationName }}</span></div>
        <div class="row"><span class="label">Joined On:</span><span class="value">{{ helper.createdAt | date: 'mediumDate' }}</span></div>
      </div>
    </div>
  </div>
</div>
