
<div class="flex items-center gap-3 px-6 pt-6 pb-4  bg-white  min-w-screen">

  <div class="flex items-center gap-4">

  <button class="border border-gray-300 rounded-md p-2  w-10 h-10" (click)="sortpopup()">
     <i class="ph ph-arrows-down-up"></i>
  </button>

  <div *ngIf="displaysortpopup" class="absolute bg-white shadow-lg rounded-md p-4 z-10">
    <h2>Sort By</h2>
    <div class="flex flex-col gap-2">
      <button (click)="onsortbyid()" class="text-sm text-gray-700 hover:text-indigo-600"> Employee ID</button>
      <button (click)="onsortbyname()" class="text-sm text-gray-700 hover:text-indigo-600"> Name</button>
    </div>
  </div>

    
  <button class="border border-gray-300 rounded-md p-2  w-10 h-10">
      <i class="ph ph-funnel"></i>
  </button>

    
  <button class="border border-gray-300 rounded-md p-2  w-10 h-10">
      <i class="ph ph-calendar-blank"></i>
  </button>

  </div>
  <div class="relative w-full max-w-xs ml-4">
    <span class="absolute inset-y-0 left-3 flex items-center text-gray-400">
      <i class="fas fa-search text-sm"></i>
    </span>
    <input
      type="text"
      (input)="onsearch($event)"
      placeholder="Name, Employee ID, Phone"
      class="pl-9 pr-3 py-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 text-sm placeholder:text-gray-400"
    />
  </div>

  <div class=" text-sm text-gray-500">
    {{ nofhelpers() }} helpers
  </div>  

  <div class=" flex ml-auto gap-4">
  <button class="border border-gray-300 rounded-md p-2  w-10 h-10">
      <i class="ph ph-download-simple w-8 h-8"></i>
  </button>

  <button class="flex items-center gap-2 px-3 bg-indigo-500 text-white rounded-md h-10 hover:bg-indigo-600 cursor-pointer" (click)="onclick()">
    <i class="ph ph-plus"></i>
    <span>Add Helper</span>
  </button></div>


</div>
<div class="flex min-h-[calc(100vh-72px)]">
 
  <div class="w-100 border border-gray-200 rounded-3xl bg-white ml-5">
    <app-sidebar
      [allhelper]="allhelper()"
      (selectedhelper)="handleselect($event)"
      class="h-full"
    ></app-sidebar>
  </div>
  <main class="flex-grow p-6 bg-white">
    <div>
    <ng-container *ngIf="selectedhelper">
      <app-helper-data [helper]="selectedhelper"></app-helper-data>
    </ng-container></div>
  </main>
</div>
