<div class="text-3xl w-200 h-20 p-5 py-6 bg-white min-w-screen"><h2>Helpers</h2></div>
<div class="border-b border-gray-300"></div>
<div class="flex items-center gap-3 px-6 pt-6 pb-4  bg-white  min-w-screen">
  <div class="flex items-center gap-4">
   
     <div class="border border-gray-300 rounded-md w-10 h-10 flex items-center justify-center">
  <button mat-icon-button [matMenuTriggerFor]="sortMenu" class="w-full h-full flex items-center justify-center mb-2">
    <i class="ph ph-arrows-down-up text-xl text-gray-700"></i>
  </button>
</div>



<mat-menu #sortMenu="matMenu" class="custom-sort-menu">
  <button
    mat-menu-item
    *ngFor="let option of sortOptions"
    (click)="selectSort(option.value)"
    [ngClass]="{
      'bg-indigo-500 text-white': selectedSort === option.value
    }"
  >
    <span class="flex justify-between w-full items-center">
      {{ option.label }}
      <i *ngIf="selectedSort === option.value" class="ph ph-check text-indigo ml-2"></i>
    </span>
  </button>
</mat-menu>


  <button class="border border-gray-300 rounded-md p-2  w-10 h-10"
  (click)="openFilterDialog()">
      <i class="ph ph-funnel"></i>
  </button>
    
  <button class="border border-gray-300 rounded-md p-2  w-10 h-10"
  >
      <i class="ph ph-calendar-blank"></i>
  </button>

  </div>
  <div class="relative w-full max-w-xs ml-4">
    <span class="absolute inset-y-0 left-3 flex items-center text-gray-400">
      <i class="fas fa-search text-sm"></i>
    </span>
    <input
      type="text"
      (input)="onsearch($event)"
      placeholder="Name, Employee ID, Phone"
      class="pl-9 pr-3 py-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 text-sm placeholder:text-gray-400"
    />
  </div>

  <div *ngIf="showfilter && nofhelpers() !== totalno(); else totalCount" class=" text-sm text-gray-500">
    {{ nofhelpers() }} of {{totalno()}} results
  </div>  
  <ng-template #totalCount>
    <div class="text-sm text-gray-500">
      {{ totalno() }} helpers
    </div>
  </ng-template>


  <div class=" flex ml-auto gap-4">
  <button class="border border-gray-300 rounded-md p-2  w-10 h-10">
      <i class="ph ph-download-simple w-8 h-8"></i>
  </button>

  <button class="flex items-center gap-2 px-3 bg-indigo-500 text-white rounded-md h-10 hover:bg-indigo-600 cursor-pointer" (click)="onclick()">
    <i class="ph ph-plus"></i>
    <span>Add Helper</span>
  </button></div>


</div>
<div class="flex min-h-[calc(100vh-72px)] bg-white">
 
  <div class="w-100 border border-gray-200 rounded-3xl bg-white ml-5">
    <app-sidebar
      [allhelper]="allhelper() | searchhelper:searchText:['fullName','phno','employeeid']"
      (selectedhelper)="handleselect($event)"
      class="h-full"
    ></app-sidebar>
  </div>
  <main class="flex-grow p-6 bg-white">
    <div>
    <ng-container *ngIf="selectedhelper">
      <app-helper-data [helper]="selectedhelper"></app-helper-data>
    </ng-container></div>
  </main>
</div>