<!-- Trigger button (can be placed in PortalComponent) -->
<button mat-button [matMenuTriggerFor]="sortMenu" class="border border-gray-300 rounded-md p-2 w-10 h-10">
  <i class="ph ph-arrows-down-up"></i>
</button>

<!-- Mat Menu -->
<mat-menu #sortMenu="matMenu" class="custom-sort-menu">
  <ng-container *ngFor="let option of sortOptions">
    <button
      mat-menu-item
      (click)="onSelect(option.value)"
      [ngClass]="{
        'bg-indigo-500 text-white': data.currentSort === option.value
      }"
    >
      <span class="flex justify-between w-full items-center">
        {{ option.label }}
        <i *ngIf="data.currentSort === option.value" class="ph ph-check text-white"></i>
      </span>
    </button>
  </ng-container>
</mat-menu>
