/* app.component.css */

:host {
  display: flex;
  min-height: 100vh;
  background-color: #f3f4f6; /* light gray */
}

app-sidebar {
  width: 16rem; /* 256px */
  border-right: 1px solid #e5e7eb;
  background-color: #fafafa;
  overflow-y: auto;
}

main {
  flex-grow: 1;
  padding: 1.5rem; /* 24px */
}

.selected {
  background-color: #bfdbfe; /* light blue */
}

.sidebar-item:hover {
  background-color: #dbebff; /* lighter blue */
}

i{
    
    margin-left: 10px;
    border: 2px solid rgb(106, 103, 103);
    border-radius: 5px;
    
}