<!-- VIEW MODE -->
<div
  *ngIf="!isEditMode"
  class="flex flex-col w-full md:w-[200px] relative bg-white p-6 md:p-10 ml-2 md:ml-7 mr-2 md:mr-5 mt-4 md:mt-6 h-auto md:h-[200px]"
>
  <ng-container *ngFor="let step of steps; let i = index">
    <div class="relative z-10 flex items-center space-x-2">
      <div
        class="w-6 h-6 rounded-full border-2 flex items-center justify-center text-sm font-bold transition-colors duration-300"
        [ngClass]="{
          'bg-blue-600 border-blue-600 text-white': currentStep > i,
          'bg-white border-gray-400 text-gray-400': currentStep <= i
        }"
      >
        {{ i + 1 }}
      </div>
      <span class="text-xs truncate max-w-[100px]" *ngIf="stepLabels[i]"> 
        {{ stepLabels[i] }}
      </span>
    </div>

    <div
      *ngIf="i < steps.length - 1"
      class="w-1 ml-3 h-10 transition-colors duration-300"
      [ngClass]="{
        'bg-blue-600': currentStep > i,
        'bg-gray-300': currentStep <= i + 1
      }"
    ></div>
  </ng-container>
</div>

<!-- EDIT MODE -->
<div
  *ngIf="isEditMode"
  class="flex flex-col w-full md:w-[200px] gap-3 bg-white p-6 md:p-10 ml-2 md:ml-7 mr-2 md:mr-5 mt-4 md:mt-6 h-auto md:h-[345px]"
>
  <button
    class="bg-indigo-600 text-white px-4 py-2 rounded text-xs w-full"
    (click)="editStepSelected.emit(1)">
    Edit Documents & Details
  </button>
  <button
    class="bg-indigo-600 text-white px-4 py-2 rounded text-xs w-full"
    (click)="editStepSelected.emit(2)">
    Edit Additional Docs
  </button>
</div>
