<div *ngIf="!isEditMode" class="stepper-container">
  <ng-container *ngFor="let step of steps; let i = index">
    <div class="step">
      <div class="step-marker">
        <div
          class="step-circle"
          [ngClass]="{
            'completed': currentStep > i,
            'pending': currentStep <= i
          }"
        ></div>

        <div
          *ngIf="i < steps.length - 1"
          class="step-line"
          [ngClass]="{
            'line-completed': currentStep > i + 1,
            'line-pending': currentStep <= i + 1
          }"
        ></div>
      </div>

      <div class="step-label">
        <span
          *ngIf="stepLabels[i]"
          [ngClass]="{ 'active-label': currentStep > i }"
        >
          {{ stepLabels[i] }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="isEditMode" class="edit-container">
  <button class="edit-btn" (click)="editStepSelected.emit(1)">
    Edit Documents & Details
  </button>
  <button class="edit-btn" (click)="editStepSelected.emit(2)">
    Edit Additional Docs
  </button>
</div>
