  <div class="wrapper ">
    <div *ngFor="let item of sortedHelpers; let i = index"
        (click)="selectuser(item, i)"
        [class.selected]="i === curind"
        class="helper-item border-b border-gray-100">
        
      <app-profile-photo 
        [userName]="item.fullName"
        [profilephotourl]="item.profilePhotourl"
        
        class="profile-photo w-12 h-12">
      </app-profile-photo>
      
      <div>
        <h3 class="name">{{ item.fullName }}</h3>
        <p class="service">{{ item.typeOfService }}</p>
      </div>
    </div>
  </div>
