<div class="w-full max-h-[600px] overflow-y-auto rounded-2xl">
  <div 
    *ngFor="let item of sortedHelpers; let i = index"
    (click)="selectuser(item, i)"
    [ngClass]="{
      'bg-indigo-100': i === curind,
      'hover:bg-indigo-200': i !== curind
    }"
    class="flex items-center cursor-pointer p-3 transition-colors border-b border-gray-100"
  >
    <app-profile-photo 
      [userName]="item.fullName"
      [profilephotourl]="item.profilePhotourl"
      class="w-12 h-12 rounded-full border border-gray-300 mr-3"
    ></app-profile-photo>
    
    <div>
      <h3 class="font-semibold text-gray-800">{{ item.fullName }}</h3>
      <p class="text-xs text-gray-500">{{ item.typeOfService }}</p>
    </div>
  </div>
</div>
