<h2 class="text-lg font-medium  text-gray-400 m-3">Filter by</h2>
<app-checkbox-dropdown [header]="'Service'" [label]="'Type of Services'" [options]="data.serviceTypes"
  [selected]="selectedServiceTypes" [displayLimit]="6" [maxSelection]="data.serviceLimit"
  (selectedChange)="selectedServiceTypes = $event" class="ml-2 mr-2 p-2 ">
</app-checkbox-dropdown>

<app-checkbox-dropdown [header]="'Organization'" [label]="'Organization Names'" [options]="data.organizations"
  [selected]="selectedOrganizations" [displayLimit]="6" [maxSelection]="data.organizationLimit"
  (selectedChange)="selectedOrganizations = $event" class="m-2 p-2">
</app-checkbox-dropdown>

<div class="border-t border-gray-400 ml-2 mr-2"></div>

<div class=" flex justify-between gap-4">
  <div class="p-2 flex justify-center items-center">
    <i class="ph ph-arrow-counter-clockwise ml-4"></i>
    <button mat-stroked-button color="warn" (click)="resetFilters()" class="p-2 ">Reset</button>
  </div>

  <div class="p-2">
    <button mat-flat-button color="primary" (click)="applyFilters()"
      class="border border-indigo-300 p-4 mr-4 h-8 text-white bg-indigo-500 justify-center items-center flex rounded-sm">Apply</button>
  </div>
</div>