<div class="delete-dialog">
  <i class="ph ph-warning warning-icon"></i>

  <p class="delete-message">
    Delete <strong class="highlight">{{ data.fullName }}</strong>
    (<strong>{{ data.typeOfService }}</strong>)
  </p>

  <p class="delete-subtext">You can't undo this action</p>

  <div class="divider"></div>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="warn" (click)="onConfirm()">Delete</button>
  </mat-dialog-actions>
</div>
