.profile-container {
  border-radius: 50%;
  background-color: #fcd34d;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem; 
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
