<div class="flex items-center gap-3 px-6 pt-6 pb-4 bg-white min-w-screen">
  <button (click)="goback()" class="flex items-center p-1 gap-1">
    <i class="ph ph-caret-left"></i>
    <span>{{ isEditMode ? 'Edit Helper' : 'Add Helper' }}</span>
  </button>
</div>

<div class="flex min-h-screen">
  <app-step-slider
    [currentStep]="presentstep()"
    class="w-64 bg-gray-100 p-4">
  </app-step-slider>

  <div class="flex-1 p-6">
    <app-helperform1 *ngIf="presentstep() === 1 " [helperData]="selectedHelper"></app-helperform1>

    <app-helperform2 *ngIf="presentstep() === 2"></app-helperform2>
    <app-helperform3 *ngIf="presentstep() === 3" [isEditMode]="isEditMode" [employeeId]="selectedHelper?.employeeid"></app-helperform3>

    <div class="flex justify-end mt-6 gap-4">
      <button
        *ngIf="presentstep() > 1"
        (click)="goto(presentstep() - 1)"
        class="border border-indigo-400 rounded-md px-6 py-2"
      >
        Previous
      </button>

      <button
        *ngIf="presentstep() < 3"
        (click)="goto(presentstep() + 1)"
        class="border border-indigo-400 rounded-md px-6 py-2"
      >
        Next
      </button>

      <button
        *ngIf="presentstep() === 3"
        (click)="submitHelper()"
        class="bg-indigo-500 text-white rounded-md px-6 py-2"
      >
        {{ isEditMode ? 'Update Helper' : 'Add Helper' }}
      </button>
    </div>
  </div>
</div>