<div [formGroup]="formGroup">
  <label class="block">
    {{ label }}<span *ngIf="required" class="text-red-500">*</span>
  </label>
  <input
    [type]="type"
    [formControlName]="controlName"
    [placeholder]="placeholder"
    class="w-full"
    [ngClass]="{'border-red-500': formGroup.get(controlName)?.invalid && (formGroup.get(controlName)?.dirty || formGroup.get(controlName)?.touched)}"
  >
  <p *ngIf="formGroup.get(controlName)?.invalid && (formGroup.get(controlName)?.dirty || formGroup.get(controlName)?.touched)"
     class="text-red-500">
    {{ errorMessage }}
  </p>
</div>