<div class="flex ">
  <h2>{{header}}</h2>
  <button class="ml-auto text-xs text-indigo-500" (click)="resetSelection()">Reset</button>

</div>

<div class="relative ">
  <button (click)="toggleDropdown()" class="border px-4 py-2 rounded-md w-full text-left text-gray-400 flex ">
    {{ label }}
    <span class="ml-auto"><i class="ph ph-caret-down"></i></span>
  </button>

  <div *ngIf="isOpen" class="absolute mt-2 bg-white border shadow-md rounded-md w-full z-10 p-2 max-h-60 overflow-auto">
    
    <div class="flex items-center gap-2 p-1 hover:bg-gray-100 rounded font-medium text-sm">
      
      <input 
        type="checkbox" 
        [checked]="isAllVisibleSelected()"
        (change)="toggleSelectAll()" 
        id="selectAll"
      />
      
      <label for="selectAll">Select All (Max: {{ maxSelection }})</label>
    </div>

    <hr class="my-2" />

    <div *ngFor="let option of visibleOptions" 
         class="flex items-center gap-2 p-1 hover:bg-gray-100 rounded text-sm"
         [class.text-gray-400]="isDisabled(option)">
      <input
        type="checkbox"
        [checked]="isChecked(option)"
        (change)="toggleOption(option)"
        [disabled]="isDisabled(option)"
        [id]="option"
      />
      <label [for]="option" class="cursor-pointer w-full flex justify-between items-center">
        {{ option }}
        <i *ngIf="isChecked(option)" class="ph ph-check text-indigo-600"></i>
      </label>
    </div>
  </div>
</div>
