<div class="checkbox-dropdown" [formGroup]="formGroup">
  <div class="header">
    <h2 class="label">
      {{ label }}<span *ngIf="required" class="required">*</span>
    </h2>
    <button *ngIf="showReset" class="reset-btn" (click)="reset()" type="button">Reset</button>
  </div>

  <div class="dropdown-wrapper" #dropdownWrapper>
    <button type="button" (click)="toggleDropdown()" class="dropdown-btn">
      {{ getLabel() }}
      <span class="caret"><i class="ph ph-caret-down"></i></span>
    </button>

    <div *ngIf="isDropdownOpen" class="dropdown-menu">
      <div class="dropdown-option select-all">
        <input type="checkbox" [checked]="isAllSelected()" (change)="toggleSelectAll()" id="selectAll" />
        <label for="selectAll">Select All (Max: {{ maxSelection }})</label>
      </div>

      <div *ngFor="let option of visibleOptions"
           class="dropdown-option"
           [class.disabled]="isDisabled(option.value)">
        <input type="checkbox"
               [checked]="isChecked(option.value)"
               (change)="toggleOption(option.value)"
               [disabled]="isDisabled(option.value)"
               [id]="option.value" />

        <label [for]="option.value" class="option-label">
          {{ option.label }}
          <i *ngIf="isChecked(option.value)" class="ph ph-check checked-icon"></i>
        </label>
      </div>
    </div>
  </div>

  <small class="hint">{{ hint }}</small>
  <p *ngIf="touched && selectedValues.length === 0" class="error">{{ errorMessage }}</p>
</div>
