<div [formGroup]="formGroup" class="form-field">
  <label class="form-label">
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>

  <select
    [formControlName]="controlName"
    class="form-select"
    [ngClass]="{
      'form-select-error':
        formGroup.get(controlName)?.invalid &&
        (formGroup.get(controlName)?.dirty ||
          formGroup.get(controlName)?.touched)
    }"
    (change)="onChange($event)"
  >
    <option value="">{{ placeholder }}</option>
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>

  <p
    *ngIf="
      formGroup.get(controlName)?.invalid &&
      (formGroup.get(controlName)?.dirty ||
        formGroup.get(controlName)?.touched)
    "
    class="error-message"
  >
    {{ errorMessage }}
  </p>
</div>
