<h3>Employee Card</h3>
<hr>

<div class="flex">
    <div class="w-48 h-30 flex-col justify-center items-center">
        <app-profile-photo [userName]="username" [profilephotourl]="profilephotourl" > </app-profile-photo>
        <div class="flex justify-center items-center"><h2 class="font-semibold">{{username}}</h2>
        <p>{{typeofservice}}</p></div>

    </div>
    <div>
        <div class="bg-amber-500 flex-col w-100 h-60 p-10">
            <p> Organization Name : {{orgName}} </p>
            <p> Emp Id : {{employee_id}}</p>
            <p> Phone Number : {{phonenumber}}</p>
            <p> Joined date : {{joineddate.slice(0,10)}}</p>
        </div>
    </div>
</div>